.featured1, .featured2, .featured3 {
  margin: 10px;
  padding: 10px;
  transition: transform .2s;
  margin: 0 auto;
  width: 33.3333%;
  height: 300px;
  display: inline-block;
}

.featured1:hover, .featured2:hover, .featured3:hover {
  -ms-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25); 
}

.featuredFlex {
  display: flex;
}