@import url('https://fonts.googleapis.com/css2?family=Anuphan&display=swap');

/* ME */
body {
  font-family: 'Anuphan', sans-serif;
  text-align: center;
  background-color: gainsboro;
  color: darkslategray;
}

nav {
  background-color: darkslategray;
  color: gainsboro;
  overflow: hidden;
}

h1 {
  font-size: 36;
  margin: 30px;
  font-weight: bold;
}

h2 {
  font-size: 32;
  color: rgb(67, 67, 67);
  margin: 30px;
  margin-bottom: 10px;
}

h3 {
  font-size: 24;
  margin: 30px;
  color: rgb(67, 67, 67);
}

p {
  font-size: 16px;
  margin: 30px;
}

a {
  font-size: 16;
  color: mediumseagreen;
}

/* IT */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
}

nav ul li a {
  display: block;
  color: #fff;
  padding: 15px;
  text-decoration: none;
}

nav ul li.portfolio:hover > ul {
  display: block;
}

nav ul li.portfolio:hover {
  background-color: gainsboro;
}

nav ul li ul li {
  display: block;
  width: 200px;
}

/* Center all text */
.center {
  text-align: center;
}

/* Set the background color and padding for the header */
header {
  background-color: #f7f7f7;
  padding: 20px;
}


/* Remove bullet points from lists */
ul {
  list-style: none;
  padding: 0;
}
