@import url('https://fonts.googleapis.com/css2?family=Anuphan&display=swap');

body {
  font-family: 'Anuphan', sans-serif;
  background-color: gainsboro;
  color: darkslategray;
}

h1 {
  font-size: 36;
  font-weight: bold;
}

h2 {
  font-size: 32;
  color: rgb(67, 67, 67);
}

h3 {
  font-size: 24;
  color: rgb(67, 67, 67);
}

p {
  font-size: 16px;
}

a {
  font-size: 16;
  color: indigo;
}

nav {
  list-style: none;
  margin: 0;
  padding: 15px;
  overflow: hidden;
  background-color: #f7f7f7;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

header {
  background-color: #f7f7f7;
}

footer p {
  text-align: center;
}

nav ul li a {
  padding: 15px;
  text-decoration: none;
}

nav ul li ul {
  display: none;
  width: 100%;
  float: none;
}

nav li ul li a {
  padding: 8px 16px;
}

nav li:hover ul{
  display: block;
}

nav .active{
  background-color: darkgray;
}