.metasounds
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 2rem;
}

.metasounds > div
{
    display: flex;
    flex-direction: column;
    
    width: 48%;
}

.metasounds > div > *
{
    margin: 0 0 1rem 0;
}