iframe
{
    width: 80%;
    height: 25rem;
    margin-left: 10%;
}

#DnD .side-by-side
{
    display: flex;
    flex-direction: row-reverse;
}

#DnD .side-by-side img
{
    width: 40%;
    height: fit-content;
    margin: auto 1rem;
    flex-shrink: 0;
}