.projects > a
{
    width: 40%;
    margin: 0.1rem .3rem;
}

main
{
    margin-bottom: 2rem;
}

.feature1:hover, .feature2:hover, .feature3:hover {
    -ms-transform: scale(1.25); 
    -webkit-transform: scale(1.25); 
    transform: scale(1.25)
}